/* CSSファイル内の既存のスタイル */
body,
div {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ロード画面 */
.loader-wrapper {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DADAD8; /* ローディング画面の背景色を設定 */
  z-index: 9999; /* 最前面に表示 */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  text-align: center;
  /* フェードアウト用のスタイル */
  opacity: 1; /* 初期状態は完全に不透明 */
  transition: opacity 1s ease-in-out; /* opacityプロパティを変更する際のトランジション設定 */
}

.loader-wrapper.hidden {
  opacity: 0; /* フェードアウト時は完全に透明にする */
  pointer-events: none; /* 透明になった要素はクリックなどのイベントを受け付けないようにする */
}

.load-img {
  width: 10vw;
  height: auto;
  margin: 5px;
}

.load-coment {
  margin-left: 5px;
  font-family: "Nico Moji";
  transform: scale(0.8); /* 初期状態は縮小 */
  animation: scaleUpDown 2s ease infinite; /* 拡大/縮小のアニメーション */
}

@keyframes scaleUpDown {
  0%, 100% { transform: scale(0.8); }
  50% { transform: scale(1); }
}

.loader-wrapper img {
  animation: spin 2s linear infinite; /* 画像にアニメーションを適用 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#scroll {
  display: none; /* 初期状態では非表示 */
}


/* 背景のスタイル */
#background {
  position: fixed; /* 画面スクロールに影響を受けないように固定 */
  top: 0;
  left: 0;
  width: 100%; /* 画面幅いっぱいに広がる */
  height: 100%; /* 画面高さいっぱいに広がる */
  z-index: -2; /* 背景はコンテンツよりも後ろに表示 */
  background-size: cover; /* 背景画像を画面に合わせて拡大縮小 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを無効化 */
}

#scroll {
  display: flex;
  flex-direction: row;
  width: 500%;
  height: 100vh;
}

/* wrapperのスタイル */
.wrapper {
  width: 100%; /* 各wrapper要素の幅 */
  height: 100vh; /* 画面の高さいっぱいに表示 */
  display: flex;
  flex-direction: column; /* 子要素を縦に配置する */
  align-items: center; /* 子要素を水平方向に中央揃えする */
  justify-content: center; /* 子要素を垂直方向に中央揃えする */
  overflow: hidden;
}

/* visual要素のスタイル */
.visual {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* imgがはみ出さないように */
}

/* visual内のimgのスタイル */
.visual img {
  width: 100%;
  height: 100%;
}

/* タイトルのスタイル */
.title {
  position: absolute;
  display: flex;
}

.title-name1,
.title-name2 {
  display: flex; /* 子要素をフレックスコンテナとして配置 */
  flex-direction: column; /* 子要素を縦方向に配置 */
  justify-content: center; /* 子要素を水平方向に中央揃えする */
  align-items: center; /* 子要素を垂直方向に中央揃えする */
}

.title img {
  width: 60%; /* 幅を50%に設定 */
  height: auto; /* 高さを自動調整（アスペクト比を保つため） */
}

/* container要素にスタイルを適用 */
#container {
  position: absolute;
  background-color: white; /* 背景色を白に設定 */
  border: 1px solid black; /* 枠線を黒に設定 */
  text-align: left; /* 左寄せに配置 */
  padding: 20px; /* 余白を追加（適宜調整） */
  width: 50%;
  height: 90%;
}

/* ABOUTページ */
.about-container {
  right: 3%;
}

/* h2要素の前に疑似要素を追加 */
.content h2::before {
  content: "\2022"; /* ●のUnicode文字コード */
  color: #d4421b; /* 色を#d4421bに設定 */
  margin-right: 5px; /* ●とテキストの間隔を調整（適宜調整） */
}

/* h2要素のスタイルを変更 */
.content h2 {
  font-size: 28px; /* 文字サイズを大きくする（適宜調整） */
  color: #d4421b;
  letter-spacing: 10px; /* 文字間隔を調整（適宜調整） */
}

/* h3要素のスタイルを変更 */
.heading h3 {
  font-weight: bold; /* 太字にする */
  font-size: 40px; /* 文字サイズを大きくする（適宜調整） */
  margin: 10px;
  letter-spacing: 20px; /* 文字間隔を調整（適宜調整） */
}

/* explanation要素内のスタイルを変更 */
.explanation {
  margin: 10px;
  line-height: 3.5; /* 行間を1.5倍に設定 */
}

/* explanation要素内のp要素（テキスト）の文字間隔を設定 */
.explanation p {
  letter-spacing: 8px; /* 文字間隔を2pxに設定 */
  margin-bottom: 10px;
}

.about-container {
  overflow: auto; /* または overflow: scroll; */
  max-height: 90%; /* 任意の高さを設定 */
}

/* SKILLページ */
.skill-container {
  left: 3%;
}

.skill-img {
  filter: hue-rotate(240deg) saturate(1.5);
}

.logo {
  display: flex;
  flex-wrap: wrap;

  width: fit-content; /* コンテナの幅を画像に合わせる */
}

.logo > div {
  display: flex;
  flex-direction: column; /* 子要素を縦に配置 */
  justify-content: center; /* 子要素を垂直方向に中央揃え */
  align-items: center; /* 子要素を水平方向に中央揃え */
  width: calc(33.33% - 20px); /* 画像の幅を33.33%に設定（20pxの余白を考慮） */
  margin: 10px; /* 画像の下部に20pxの余白を追加 */
  box-sizing: border-box; /* 幅に余白を含めるためにbox-sizingを設定 */
}

.logo img {
  max-width: 70%;
  height: auto; /* 高さを自動調整（アスペクト比を保つ） */
  margin-bottom: 5px;
}

.logo h4 {
  margin: 5px;
  text-align: center; /* テキストを中央揃えにする */
  letter-spacing: 4px;
}

.custom-size img {
  width: 65%;
}

/* サービスページ */

.service-container {
  right: 3%;
}

.service-img {
  filter: hue-rotate(-27deg) saturate(1.5);
}

.service {
  display: flex;
  flex-wrap: wrap;

  width: fit-content; /* コンテナの幅を画像に合わせる */
}

.service > div {
  display: flex;
  flex-direction: column; /* 子要素を縦に配置 */
  justify-content: center; /* 子要素を垂直方向に中央揃え */
  align-items: center; /* 子要素を水平方向に中央揃え */
  width: calc(33.33% - 20px); /* 画像の幅を33.33%に設定（20pxの余白を考慮） */
  margin: 10px; /* 画像の下部に20pxの余白を追加 */
  box-sizing: border-box; /* 幅に余白を含めるためにbox-sizingを設定 */
}

.service img {
  max-width: 70%;
  height: auto; /* 高さを自動調整（アスペクト比を保つ） */
  margin-bottom: 5px;
}

.service h4 {
  margin: 5px;
  text-align: center; /* テキストを中央揃えにする */
  letter-spacing: 4px;
}

