/* CSSファイル内の既存のスタイル */
body, div {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* 背景のスタイル */
#background {
  position: fixed; /* 画面スクロールに影響を受けないように固定 */
  top: 0;
  left: 0;
  width: 100%; /* 画面幅いっぱいに広がる */
  height: 100%; /* 画面高さいっぱいに広がる */
  z-index: -2; /* 背景はコンテンツよりも後ろに表示 */
  background-size: cover; /* 背景画像を画面に合わせて拡大縮小 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを無効化 */
}

#scroll {
  display: flex;
  flex-direction: row;
  width: 500%;
  height: 100vh;
}

/* wrapperのスタイル */
.wrapper {
  width: 100%; /* 各wrapper要素の幅 */
  height: 100vh; /* 画面の高さいっぱいに表示 */
  display: flex;
  flex-direction: column; /* 子要素を縦に配置する */
  align-items: center; /* 子要素を水平方向に中央揃えする */
  justify-content: center; /* 子要素を垂直方向に中央揃えする */
  overflow: hidden;
}

/* visual要素のスタイル */
.visual {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* imgがはみ出さないように */
}

/* visual内のimgのスタイル */
.visual img {
  width: 100%;
  height: 100%;
}


/* タイトルのスタイル */
.title {
  position: absolute;
  display: flex;
}

.title-name1,
.title-name2 {
  display: flex; /* 子要素をフレックスコンテナとして配置 */
  flex-direction: column; /* 子要素を縦方向に配置 */
  justify-content: center; /* 子要素を水平方向に中央揃えする */
  align-items: center; /* 子要素を垂直方向に中央揃えする */
}

.title img {
  width: 60%; /* 幅を50%に設定 */
  height: auto; /* 高さを自動調整（アスペクト比を保つため） */
}

